{% extends 'base.html' %}
{% block title %}Password reimpostata{% endblock %}

{% block content %}
<h1 class="text-center text-2xl md:text-4xl font-bold my-8 md:my-12">Password reimpostata</h1>
<div class="card w-full max-w-md shadow-xl bg-base-200 mx-auto">
  <div class="card-body items-center">
    <p class="mb-4 font-bold text-2xl">La tua password è stata aggiornata con successo. Ora puoi accedere con la nuova password.</p>
    <a href="{% url 'account_login' %}" class="btn btn-primary mt-4">Vai al login</a>
  </div>
</div>
{% endblock %}
