{% extends 'base.html' %}
{% block title %}Reset password - Email inviata{% endblock %}

{% block content %}
<h1 class="text-center text-2xl md:text-4xl font-bold my-8 md:my-12">Reset password - Email inviata</h1>
<div class="card w-full max-w-md shadow-xl bg-base-200 mx-auto">
  <div class="card-body items-center">
    <p class="mb-4 font-bold text-2xl">Se l'indirizzo inserito è associato a un account, riceverai una email con le istruzioni per reimpostare la password.</p>
    <a href="{% url 'account_login' %}" class="btn btn-primary mt-4">Torna al login</a>
  </div>
</div>
{% endblock %}
